.buttons button {
  background-color: #6c96fe; /* Green background */
  border: 1px #6c96fe; /* Green border */
  color: white; /* White text */
  padding: 10px 24px; /* Some padding */
  cursor: pointer; /* Pointer/hand icon */
  float: left; /* Float the buttons side by side */
}

.buttons button:not(:last-child) {
  border-right: none; /* Prevent double borders */
}

/* Clear floats (clearfix hack) */
.buttons:after {
  content: "";
  clear: both;
  display: table;
}

/* Add a background color on hover */
.buttons button:hover {
  background-color: #0046f5;
}